<!doctype html>
<html>
<head>
    <title>Game Settings</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/functions"></script>
    <script src="/cookies"></script>
    <script src="/geter"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

</head>
<body>
    <div class="container">
        <h1>Select Board Size</h1>
        <div class="button-container">
            <button onclick="selectBoardSize('10')">10x10</button>
            <button onclick="selectBoardSize('7')">7x7</button>
            <button onclick="selectBoardSize('5')">5x5</button>
            <button onclick="selectBoardSize('3')">3x3</button>
        </div>
    </div>
    <script>
        var socket = io();
        var urlParams = new URLSearchParams(window.location.search);
        var username = urlParams.get('username');
        var room = urlParams.get('room');

        function selectBoardSize(size) {
            socket.emit('selectBoardSize', {'username': username, 'room': room, 'size': size});
            window.location.href = '/waiting-room?username=' + encodeURIComponent(username) + '&room=' + encodeURIComponent(room) + '&size=' + encodeURIComponent(size);
        }
    </script>
</body>
</html>