<!doctype html>
<html>
<head>
    <title>Waiting Room</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/functions"></script>
    <script src="/cookies"></script>
    <script src="/geter"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

</head>
<body>
    <div class="container">
        <h1>Waiting for another player...</h1>
        <div id="waiting-message">Room: <span id="room-name"></span></div>
    </div>
    <script>
        var socket = io();
        var urlParams = new URLSearchParams(window.location.search);
        var username = urlParams.get('username');
        var room = urlParams.get('room');
        var size = urlParams.get('size');

        document.getElementById('room-name').innerText = room;

        socket.emit('waitForPlayer', {'username': username, 'room': room, 'size': size});

        socket.on('startGame', function(data) {
            window.location.href = '/game?username=' + encodeURIComponent(username) + '&room=' + encodeURIComponent(room) + '&size=' + encodeURIComponent(size);
        });
    </script>
</body>
</html>