<!DOCTYPE html>
<html lang="en">    <script src="/functions"></script>
<script src="/cookies"></script>
<script src="/get"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Congratulations</title>
</head>
<body>
    <div class="container">
        <h1>wygrales!</h1>
        <div>

            <div class="button-container">
                <form action="{{ url_for('index') }}" method="get">
                    <button type="submit">powrot</button>
                </form>
            </div>
        </div>
        <ul id="messages"></ul>
    </div>
 
</body>
</html>
